---
import "src/styles/skeletons.styl";

---
<div class="skeleton-widgets" aria-hidden="true">
	<div class="widget clock">
		<div></div>
		<div>
		<div class="lines"></div>
		<div class="lines"></div>
		<div class="lines"></div>
		</div>
	</div>
	<div class="widget">
		<div class="header lines"></div>
		<div></div>
	</div>
	<div class="widget">
		<div class="header lines"></div>
	</div>
	<div class="widget">
		<div class="header lines"></div>
	</div>
</div>