accentOpacity = .6;

rose-pine()
	accent = rgb(196, 167, 231);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(169, 127, 220);
	--accentLighten: rgb(223, 207, 242);
	--accentedBg: rgba(196, 167, 231, 0.15);
	--focus: rgba(196, 167, 231, 0.3);
	--bg: rgb(25, 23, 36);
	--acrylicBg: rgba(25, 23, 36, 0.5);
	--fg: rgb(224, 222, 244);
	--fgTransparentWeak: rgba(224, 222, 244, 0.75);
	--fgTransparent: rgba(224, 222, 244, 0.5);
	--fgHighlighted: rgb(235, 233, 248);
	--fgOnAccent: rgb(38, 35, 58);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(196, 167, 231);
	--panel: rgb(31, 29, 45);
	--panelHighlight: rgb(38, 35, 55);
	--panelHeaderBg: rgb(38, 35, 55);
	--panelHeaderFg: rgb(224, 222, 244);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(31, 29, 45, 0.5);
	--windowHeader: rgba(31, 29, 45, 0.85);
	--popup: rgb(38, 35, 55);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(31, 29, 45, 0.7);
	--navBg: rgb(31, 29, 45);
	--navFg: rgb(224, 222, 244);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(196, 167, 231);
	--navIndicator: rgb(196, 167, 231);
	--link: rgb(156, 207, 216);
	--hashtag: rgb(235, 188, 186);
	--mention: rgb(196, 167, 231);
	--mentionMe: rgb(196, 167, 231);
	--renote: rgb(49, 116, 143);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(224, 222, 244);
	--infoBg: rgb(37, 49, 66);
	--infoFg: rgb(255, 255, 255);
	--infoWarnBg: rgb(38, 35, 58);
	--infoWarnFg: rgb(246, 193, 119);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(31, 29, 46);
	--cwFg: rgb(246, 193, 119);
	--cwHoverBg: rgb(38, 35, 58);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(196, 167, 231);
	--buttonGradateB: rgb(235, 188, 186);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(224, 222, 244);
	--swutchOnBg: rgba(196, 167, 231, 0.15);
	--swutchOnFg: rgb(196, 167, 231);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(196, 167, 231, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(235, 188, 186);
	--messageBg: rgb(25, 23, 36);
	--success: rgb(235, 188, 186);
	--error: rgb(235, 111, 146);
	--warn: rgb(246, 193, 119);
	--codeString: rgb(255, 182, 117);
	--codeNumber: rgb(207, 255, 158);
	--codeBoolean: rgb(197, 158, 255);
	--htmlThemeColor: rgb(25, 23, 36);
	--X2: rgb(27, 25, 39);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(209, 187, 236);
	--X9: rgb(183, 147, 226);
	--X10: rgba(196, 167, 231, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(31, 29, 45, 0.5);
	--X15: rgba(31, 29, 45, 0);
	--X16: rgba(31, 29, 45, 0.7);
	--X17: rgba(25, 23, 36, 0.8);



// +prefix-classes won't wooorrkkkk :(
html[theme="rose-pine"]
	rose-pine()

rose-pine-dawn()
	accent = rgb(40, 105, 131);
	--accent: accent;
	--accentTransparent: transparentify(accent, 0.2);
	--accentDarken: rgb(28, 74, 92);
	--accentLighten: rgb(52, 136, 170);
	--accentedBg: rgba(40, 105, 131, 0.15);
	--focus: rgba(40, 105, 131, 0.3);
	--bg: rgb(250, 244, 237);
	--acrylicBg: rgba(250, 244, 237, 0.5);
	--fg: rgb(20,20,100);
	--fgTransparentWeak: rgba(87, 82, 121, 0.75);
	--fgTransparent: rgba(87, 82, 121, 0.5);
	--fgHighlighted: rgb(80, 76, 112);
	--fgOnAccent: rgb(255, 250, 243);
	--divider: rgba(0, 0, 0, 0.1);
	--indicator: rgb(40, 105, 131);
	--panel: rgb(253, 251, 249);
	--panelHighlight: rgb(250, 244, 237);
	--panelHeaderBg: rgb(255, 255, 255);
	--panelHeaderFg: rgb(87, 82, 121);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(253, 251, 249, 0.5);
	--windowHeader: rgba(253, 251, 249, 0.85);
	--popup: rgb(255, 255, 255);
	--shadow: rgba(0, 0, 0, 0.1);
	--header: rgba(253, 251, 249, 0.7);
	--navBg: rgb(253, 251, 249);
	--navFg: rgb(87, 82, 121);
	--navHoverFg: rgb(50, 47, 69);
	--navActive: rgb(40, 105, 131);
	--navIndicator: rgb(40, 105, 131);
	--link: rgb(86, 148, 159);
	--hashtag: rgb(234, 157, 52);
	--mention: rgb(40, 105, 131);
	--mentionMe: rgb(40, 105, 131);
	--renote: rgb(86, 148, 159);
	--modalBg: rgba(0, 0, 0, 0.3);
	--scrollbarHandle: rgba(0, 0, 0, 0.2);
	--scrollbarHandleHover: rgba(0, 0, 0, 0.4);
	--dateLabelFg: rgb(87, 82, 121);
	--infoBg: rgb(242, 233, 225);
	--infoFg: rgb(234, 157, 52);
	--infoWarnBg: rgb(242, 233, 225);
	--infoWarnFg: rgb(180, 99, 122);
	--switchBg: rgba(0, 0, 0, 0.15);
	--cwBg: rgb(180, 99, 122);
	--cwFg: rgb(250, 244, 237);
	--cwHoverBg: rgb(215, 130, 126);
	--buttonBg: rgba(0, 0, 0, 0.05);
	--buttonHoverBg: rgba(0, 0, 0, 0.1);
	--buttonGradateA: rgb(215, 130, 126);
	--buttonGradateB: rgb(215, 160, 126);
	--swutchOffBg: rgba(0, 0, 0, 0.1);
	--swutchOffFg: rgb(253, 251, 249);
	--swutchOnBg: rgb(40, 105, 131);
	--swutchOnFg: rgb(255, 250, 243);
	--inputBorder: rgba(0, 0, 0, 0.1);
	--inputBorderHover: rgba(0, 0, 0, 0.2);
	--listItemHoverBg: rgba(0, 0, 0, 0.03);
	--driveFolderBg: rgba(40, 105, 131, 0.3);
	--wallpaperOverlay: rgba(255, 255, 255, 0.5);
	--badge: rgb(49, 177, 206);
	--messageBg: rgb(250, 244, 237);
	--success: rgb(144, 122, 169);
	--error: rgb(180, 99, 122);
	--warn: rgb(234, 157, 52);
	--codeString: rgb(185, 135, 16);
	--codeNumber: rgb(15, 187, 187);
	--codeBoolean: rgb(98, 183, 12);
	--htmlThemeColor: rgb(250, 244, 237);
	--X2: rgb(251, 246, 241);
	--X3: rgba(0, 0, 0, 0.05);
	--X4: rgba(0, 0, 0, 0.1);
	--X5: rgba(0, 0, 0, 0.05);
	--X6: rgba(0, 0, 0, 0.25);
	--X7: rgba(0, 0, 0, 0.05);
	--X8: rgb(46, 121, 150);
	--X9: rgb(34, 89, 111);
	--X10: rgba(40, 105, 131, 0.4);
	--X11: rgba(0, 0, 0, 0.1);
	--X12: rgba(0, 0, 0, 0.1);
	--X13: rgba(0, 0, 0, 0.15);
	--X14: rgba(253, 251, 249, 0.5);
	--X15: rgba(253, 251, 249, 0);
	--X16: rgba(253, 251, 249, 0.7);
	--X17: rgba(250, 244, 237, 0.8);

	--X11: var(--X11);
	--panelHighlight: white;

html[theme="rose-pine-dawn"]
	rose-pine-dawn()

rose-pine-moon()
	accent= rgb(196, 167, 231);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(169, 127, 220);
	--accentLighten: rgb(223, 207, 242);
	--accentedBg: rgba(196, 167, 231, 0.15);
	--focus: rgba(196, 167, 231, 0.3);
	--bg: rgb(35, 33, 54);
	--acrylicBg: rgba(35, 33, 54, 0.5);
	--fg: rgb(224, 222, 244);
	--fgTransparentWeak: rgba(224, 222, 244, 0.75);
	--fgTransparent: rgba(224, 222, 244, 0.5);
	--fgHighlighted: rgb(235, 233, 248);
	--fgOnAccent: rgb(57, 53, 82);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(196, 167, 231);
	--panel: rgb(41, 39, 63);
	--panelHighlight: rgb(47, 45, 73);
	--panelHeaderBg: rgb(47, 45, 73);
	--panelHeaderFg: rgb(224, 222, 244);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(41, 39, 63, 0.5);
	--windowHeader: rgba(41, 39, 63, 0.85);
	--popup: rgb(47, 45, 73);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(41, 39, 63, 0.7);
	--navBg: rgb(41, 39, 63);
	--navFg: rgb(224, 222, 244);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(196, 167, 231);
	--navIndicator: rgb(196, 167, 231);
	--link: rgb(62, 143, 176);
	--hashtag: rgb(234, 154, 151);
	--mention: rgb(196, 167, 231);
	--mentionMe: rgb(196, 167, 231);
	--renote: rgb(34, 158, 130);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(224, 222, 244);
	--infoBg: rgb(37, 49, 66);
	--infoFg: rgb(255, 255, 255);
	--infoWarnBg: rgb(57, 53, 82);
	--infoWarnFg: rgb(246, 193, 119);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(57, 53, 82);
	--cwFg: rgb(246, 193, 119);
	--cwHoverBg: rgb(57, 53, 82);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(196, 167, 231);
	--buttonGradateB: rgb(234, 154, 151);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(224, 222, 244);
	--swutchOnBg: rgba(196, 167, 231, 0.15);
	--swutchOnFg: rgb(196, 167, 231);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(196, 167, 231, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(234, 154, 151);
	--messageBg: rgb(35, 33, 54);
	--success: rgb(235, 188, 186);
	--error: rgb(235, 111, 146);
	--warn: rgb(246, 193, 119);
	--codeString: rgb(255, 182, 117);
	--codeNumber: rgb(207, 255, 158);
	--codeBoolean: rgb(197, 158, 255);
	--htmlThemeColor: rgb(35, 33, 54);
	--X2: rgb(37, 35, 57);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(209, 187, 236);
	--X9: rgb(183, 147, 226);
	--X10: rgba(196, 167, 231, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(41, 39, 63, 0.5);
	--X15: rgba(41, 39, 63, 0);
	--X16: rgba(41, 39, 63, 0.7);
	--X17: rgba(35, 33, 54, 0.8);
	--vh: 9.25px;
	--modalBgFilter: blur(4px);

html[theme="rose-pine-moon"]
	rose-pine-moon()

astro()
	accent = rgb(129, 192, 139);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(95, 175, 108);
	--accentLighten: rgb(163, 209, 170);
	--accentedBg: rgba(129, 192, 139, 0.15);
	--focus: rgba(129, 192, 139, 0.3);
	--bg: rgb(35, 33, 37);
	--acrylicBg: rgba(35, 33, 37, 0.5);
	--fg: rgb(239, 218, 185);
	--fgTransparentWeak: rgba(239, 218, 185, 0.75);
	--fgTransparent: rgba(239, 218, 185, 0.5);
	--fgHighlighted: rgb(242, 225, 197);
	--fgOnAccent: rgb(255, 255, 255);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(129, 192, 139);
	--panel: rgb(42, 39, 43);
	--panelHighlight: rgb(50, 46, 51);
	--panelHeaderBg: rgb(50, 46, 51);
	--panelHeaderFg: rgb(239, 218, 185);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(42, 39, 43, 0.5);
	--windowHeader: rgba(42, 39, 43, 0.85);
	--popup: rgb(50, 46, 51);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(35, 33, 37, 0.7);
	--navBg: rgb(42, 39, 43);
	--navFg: rgb(239, 218, 185);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(129, 192, 139);
	--navIndicator: rgb(129, 192, 139);
	--link: rgb(120, 176, 160);
	--hashtag: rgb(255, 145, 86);
	--mention: rgb(255, 209, 82);
	--mentionMe: rgb(251, 93, 56);
	--renote: rgb(101, 156, 200);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(239, 218, 185);
	--infoBg: rgb(37, 49, 66);
	--infoFg: rgb(255, 255, 255);
	--infoWarnBg: rgb(66, 50, 28);
	--infoWarnFg: rgb(255, 189, 62);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(104, 115, 144);
	--cwFg: rgb(57, 63, 79);
	--cwHoverBg: rgb(112, 123, 151);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(129, 192, 139);
	--buttonGradateB: rgb(140, 192, 129);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(239, 218, 185);
	--swutchOnBg: rgba(129, 192, 139, 0.15);
	--swutchOnFg: rgb(129, 192, 139);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(129, 192, 139, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(49, 177, 206);
	--messageBg: rgb(35, 33, 37);
	--success: rgb(134, 179, 0);
	--error: rgb(236, 65, 55);
	--warn: rgb(236, 182, 55);
	--codeString: rgb(255, 182, 117);
	--codeNumber: rgb(207, 255, 158);
	--codeBoolean: rgb(197, 158, 255);
	--htmlThemeColor: rgb(35, 33, 37);
	--X2: rgb(37, 34, 38);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(146, 200, 155);
	--X9: rgb(112, 183, 123);
	--X10: rgba(129, 192, 139, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(42, 39, 43, 0.5);
	--X15: rgba(42, 39, 43, 0);
	--X16: rgba(42, 39, 43, 0.7);
	--X17: rgba(35, 33, 37, 0.8);
	--vh: 9.25px;
	--modalBgFilter: blur(4px);

html[theme="astro"]
	astro()

frappe()
	accent = rgb(242, 213, 207);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentLighten: rgb(249, 230, 230);
	--accentedBg: rgba(238, 190, 190, 0.15);
	--focus: rgba(238, 190, 190, 0.3);
	--bg: rgb(35, 38, 52);
	--acrylicBg: rgba(35, 38, 52, 0.5);
	--fg: rgb(198, 208, 245);
	--fgTransparentWeak: rgba(198, 208, 245, 0.75);
	--fgTransparent: rgba(198, 208, 245, 0.5);
	--fgHighlighted: rgb(211, 219, 247);
	--fgOnAccent: rgb(48, 52, 70);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(238, 190, 190);
	--panel: rgb(41, 45, 61);
	--panelHighlight: rgb(47, 51, 70);
	--panelHeaderBg: rgb(47, 51, 70);
	--panelHeaderFg: rgb(198, 208, 245);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: rgb(0, 0, 0);
	--acrylicPanel: rgba(41, 45, 61, 0.5);
	--windowHeader: rgba(41, 45, 61, 0.85);
	--popup: rgb(47, 51, 70);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(41, 45, 61, 0.7);
	--navBg: rgb(41, 45, 61);
	--navFg: rgb(198, 208, 245);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(238, 190, 190);
	--navIndicator: rgb(238, 190, 190);
	--link: rgb(140, 170, 238);
	--hashtag: rgb(133, 193, 220);
	--mention: rgb(238, 190, 190);
	--mentionMe: rgb(238, 190, 190);
	--renote: rgb(140, 170, 238);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(198, 208, 245);
	--infoBg: rgb(65, 69, 89);
	--infoFg: rgb(165, 173, 206);
	--infoWarnBg: rgb(65, 69, 89);
	--infoWarnFg: rgb(181, 191, 226);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(81, 87, 109);
	--cwFg: rgb(181, 191, 226);
	--cwHoverBg: rgb(98, 104, 128);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(238, 190, 190);
	--buttonGradateB: rgb(238, 206, 190);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(198, 208, 245);
	--swutchOnBg: rgba(238, 190, 190, 0.15);
	--swutchOnFg: rgb(238, 190, 190);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(238, 190, 190, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(140, 170, 238);
	--messageBg: rgb(35, 38, 52);
	--success: rgb(166, 209, 137);
	--error: rgb(231, 130, 132);
	--warn: rgb(239, 159, 118);
	--codeString: rgb(239, 159, 118);
	--codeNumber: rgb(166, 209, 137);
	--codeBoolean: rgb(238, 190, 190);
	--htmlThemeColor: rgb(35, 38, 52);
	--X2: rgb(37, 40, 55);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(243, 210, 210);
	--X9: rgb(233, 170, 170);
	--X10: rgba(238, 190, 190, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(41, 45, 61, 0.5);
	--X15: rgba(41, 45, 61, 0);
	--X16: rgba(41, 45, 61, 0.7);
	--X17: rgba(35, 38, 52, 0.8);
	--vh: 8.64px;
	--modalBgFilter: blur(4px);
	--deckDivider: rgb(115, 121, 148);

html[theme="frappe"]
	frappe()

mocha()
	accent = rgb(242, 205, 205);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(231, 164, 164);
	--accentLighten: rgb(253, 245, 245);
	--accentedBg: rgba(242, 205, 205, 0.15);
	--focus: rgba(242, 205, 205, 0.3);
	--bg: rgb(17, 17, 27);
	--acrylicBg: rgba(17, 17, 27, 0.5);
	--fg: rgb(205, 214, 244);
	--fgTransparentWeak: rgba(205, 214, 244, 0.75);
	--fgTransparent: rgba(205, 214, 244, 0.5);
	--fgHighlighted: rgb(218, 224, 247);
	--fgOnAccent: rgb(30, 30, 46);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(242, 205, 205);
	--panel: rgb(23, 23, 36);
	--panelHighlight: rgb(29, 29, 46);
	--panelHeaderBg: rgb(29, 29, 46);
	--panelHeaderFg: rgb(205, 214, 244);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: rgb(0, 0, 0);
	--acrylicPanel: rgba(23, 23, 36, 0.5);
	--windowHeader: rgba(23, 23, 36, 0.85);
	--popup: rgb(29, 29, 46);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(23, 23, 36, 0.7);
	--navBg: rgb(23, 23, 36);
	--navFg: rgb(205, 214, 244);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(242, 205, 205);
	--navIndicator: rgb(242, 205, 205);
	--link: rgb(137, 180, 250);
	--hashtag: rgb(116, 199, 236);
	--mention: rgb(242, 205, 205);
	--mentionMe: rgb(242, 205, 205);
	--renote: rgb(137, 180, 250);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(205, 214, 244);
	--infoBg: rgb(49, 50, 68);
	--infoFg: rgb(166, 173, 200);
	--infoWarnBg: rgb(49, 50, 68);
	--infoWarnFg: rgb(186, 194, 222);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(69, 71, 90);
	--cwFg: rgb(186, 194, 222);
	--cwHoverBg: rgb(88, 91, 112);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(242, 205, 205);
	--buttonGradateB: rgb(242, 217, 205);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(205, 214, 244);
	--swutchOnBg: rgba(242, 205, 205, 0.15);
	--swutchOnFg: rgb(242, 205, 205);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(242, 205, 205, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(137, 180, 250);
	--messageBg: rgb(17, 17, 27);
	--success: rgb(166, 227, 161);
	--error: rgb(243, 139, 168);
	--warn: rgb(250, 179, 135);
	--codeString: rgb(250, 179, 135);
	--codeNumber: rgb(166, 227, 161);
	--codeBoolean: rgb(242, 205, 205);
	--htmlThemeColor: rgb(17, 17, 27);
	--X2: rgb(19, 19, 30);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(247, 225, 225);
	--X9: rgb(237, 185, 185);
	--X10: rgba(242, 205, 205, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(23, 23, 36, 0.5);
	--X15: rgba(23, 23, 36, 0);
	--X16: rgba(23, 23, 36, 0.7);
	--X17: rgba(17, 17, 27, 0.8);
	--vh: 9.25px;
	--modalBgFilter: blur(4px);

html[theme="mocha"]
	mocha()

nord()
	accent = rgb(129, 161, 193);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(94, 129, 172);
	--accentLighten: rgb(136, 192, 208);
	--accentedBg: rgba(129, 161, 193, 0.15);
	--focus: rgba(129, 161, 193, 0.3);
	--bg: rgb(46, 52, 64);
	--acrylicBg: rgba(46, 52, 64, 0.5);
	--fg: rgb(236, 239, 244);
	--fgTransparentWeak: rgba(236, 239, 244, 0.75);
	--fgTransparent: rgba(236, 239, 244, 0.5);
	--fgHighlighted: rgb(246, 247, 250);
	--fgOnAccent: rgb(236, 239, 244);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(129, 161, 193);
	--panel: rgb(52, 59, 73);
	--panelHighlight: rgb(59, 66, 82);
	--panelHeaderBg: rgb(59, 66, 82);
	--panelHeaderFg: rgb(236, 239, 244);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(52, 59, 73, 0.5);
	--windowHeader: rgba(52, 59, 73, 0.85);
	--popup: rgb(59, 66, 82);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(52, 59, 73, 0.7);
	--navBg: rgb(52, 59, 73);
	--navFg: rgb(236, 239, 244);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(129, 161, 193);
	--navIndicator: rgb(129, 161, 193);
	--link: rgb(180, 142, 173);
	--hashtag: rgb(163, 190, 140);
	--mention: rgb(129, 161, 193);
	--mentionMe: rgb(129, 161, 193);
	--renote: rgb(235, 203, 139);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(236, 239, 244);
	--infoBg: rgb(76, 86, 106);
	--infoFg: rgb(208, 135, 112);
	--infoWarnBg: rgb(76, 86, 106);
	--infoWarnFg: rgb(191, 97, 106);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(76, 86, 106);
	--cwFg: rgb(57, 63, 79);
	--cwHoverBg: rgb(112, 123, 151);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(129, 161, 193);
	--buttonGradateB: rgb(143, 188, 187);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(236, 239, 244);
	--swutchOnBg: rgba(129, 161, 193, 0.15);
	--swutchOnFg: rgb(129, 161, 193);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(129, 161, 193, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(208, 135, 112);
	--messageBg: rgb(46, 52, 64);
	--success: rgb(163, 190, 140);
	--error: rgb(191, 97, 106);
	--warn: rgb(208, 135, 112);
	--codeString: rgb(180, 142, 173);
	--codeNumber: rgb(163, 190, 140);
	--codeBoolean: rgb(235, 203, 139);
	--htmlThemeColor: rgb(46, 52, 64);
	--X2: rgb(48, 54, 67);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(146, 174, 201);
	--X9: rgb(112, 148, 185);
	--X10: rgba(129, 161, 193, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(52, 59, 73, 0.5);
	--X15: rgba(52, 59, 73, 0);
	--X16: rgba(52, 59, 73, 0.7);
	--X17: rgba(46, 52, 64, 0.8);
	--vh: 9.25px;
	--modalBgFilter: blur(4px);

html[theme="nord"]
	nord()

gruvbox()
	accent = rgb(152, 151, 26);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(108, 108, 19);
	--accentLighten: rgb(196, 194, 33);
	--accentedBg: rgba(152, 151, 26, 0.15);
	--focus: rgba(152, 151, 26, 0.3);
	--bg: rgb(40, 40, 40);
	--acrylicBg: rgba(40, 40, 40, 0.5);
	--fg: rgb(235, 219, 178);
	--fgTransparentWeak: rgba(235, 219, 178, 0.75);
	--fgTransparent: rgba(235, 219, 178, 0.5);
	--fgHighlighted: rgb(251, 241, 199);
	--fgOnAccent: rgb(255, 255, 255);
	--divider: rgb(124, 111, 100);
	--indicator: rgb(152, 151, 26);
	--panel: rgb(50, 48, 47);
	--panelHighlight: rgb(58, 56, 54);
	--panelHeaderBg: rgb(50, 48, 47);
	--panelHeaderFg: rgb(235, 219, 178);
	--panelHeaderDivider: rgb(124, 111, 100);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(50, 48, 47, 0.5);
	--windowHeader: rgba(50, 48, 47, 0.85);
	--popup: rgb(58, 56, 54);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(50, 48, 47, 0.7);
	--navBg: rgb(50, 48, 47);
	--navFg: rgb(235, 219, 178);
	--navHoverFg: rgb(253, 251, 247);
	--navActive: rgb(152, 151, 26);
	--navIndicator: rgb(152, 151, 26);
	--link: rgb(177, 98, 134);
	--hashtag: rgb(69, 133, 136);
	--mention: rgb(152, 151, 26);
	--mentionMe: rgb(251, 73, 52);
	--renote: rgb(152, 151, 26);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(235, 219, 178);
	--infoBg: rgb(37, 49, 66);
	--infoFg: rgb(255, 255, 255);
	--infoWarnBg: rgb(66, 50, 28);
	--infoWarnFg: rgb(255, 189, 62);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(104, 115, 144);
	--cwFg: rgb(57, 63, 79);
	--cwHoverBg: rgb(112, 123, 151);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(152, 151, 26);
	--buttonGradateB: rgb(152, 151, 26);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(235, 219, 178);
	--swutchOnBg: rgba(152, 151, 26, 0.15);
	--swutchOnFg: rgb(152, 151, 26);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(152, 151, 26, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(69, 133, 136);
	--messageBg: rgb(40, 40, 40);
	--success: rgb(152, 151, 26);
	--error: rgb(251, 73, 52);
	--warn: rgb(214, 93, 14);
	--codeString: rgb(255, 182, 117);
	--codeNumber: rgb(207, 255, 158);
	--codeBoolean: rgb(197, 158, 255);
	--htmlThemeColor: rgb(40, 40, 40);
	--X2: rgb(45, 43, 42);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(174, 173, 30);
	--X9: rgb(130, 129, 22);
	--X10: rgba(152, 151, 26, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(50, 48, 47, 0.5);
	--X15: rgba(50, 48, 47, 0);
	--X16: rgba(50, 48, 47, 0.7);
	--X17: rgba(40, 40, 40, 0.8);
	--vh: 7.92px;
	--modalBgFilter: blur(4px);
	--deckDivider: rgb(115, 121, 148);

html[theme="gruvbox"]
	gruvbox()

mi-cherry-dark()
	accent = rgb(255, 89, 117);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);
	--accentDarken: rgb(255, 38, 75);
	--accentLighten: rgb(255, 140, 159);
	--accentedBg: rgba(255, 89, 117, 0.15);
	--focus: rgba(255, 89, 117, 0.3);
	--bg: rgb(28, 28, 37);
	--acrylicBg: rgba(28, 28, 37, 0.5);
	--fg: rgb(236, 239, 244);
	--fgTransparentWeak: rgba(236, 239, 244, 0.75);
	--fgTransparent: rgba(236, 239, 244, 0.5);
	--fgHighlighted: rgb(246, 247, 250);
	--fgOnAccent: rgb(255, 255, 255);
	--divider: rgb(63, 63, 80);
	--indicator: rgb(255, 89, 117);
	--panel: rgb(35, 35, 47);
	--panelHighlight: rgb(42, 42, 56);
	--panelHeaderBg: rgb(42, 42, 56);
	--panelHeaderFg: rgb(236, 239, 244);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(35, 35, 47, 0.5);
	--windowHeader: rgba(35, 35, 47, 0.85);
	--popup: rgb(42, 42, 56);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(35, 35, 47, 0.7);
	--navBg: rgb(35, 35, 47);
	--navFg: rgb(236, 239, 244);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(255, 89, 117);
	--navIndicator: rgb(255, 89, 117);
	--link: rgb(255, 89, 117);
	--hashtag: rgb(255, 89, 117);
	--mention: rgb(255, 89, 117);
	--mentionMe: rgb(255, 89, 117);
	--renote: rgb(255, 89, 117);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(236, 239, 244);
	--infoBg: rgb(37, 49, 66);
	--infoFg: rgb(255, 255, 255);
	--infoWarnBg: rgb(66, 50, 28);
	--infoWarnFg: rgb(255, 189, 62);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(104, 115, 144);
	--cwFg: rgb(57, 63, 79);
	--cwHoverBg: rgb(112, 123, 151);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(255, 89, 117);
	--buttonGradateB: rgb(255, 116, 89);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(236, 239, 244);
	--swutchOnBg: rgba(255, 89, 117, 0.15);
	--swutchOnFg: rgb(255, 89, 117);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(255, 89, 117, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(49, 177, 206);
	--messageBg: rgb(28, 28, 37);
	--success: rgb(134, 179, 0);
	--error: rgb(236, 65, 55);
	--warn: rgb(236, 182, 55);
	--codeString: rgb(255, 182, 117);
	--codeNumber: rgb(207, 255, 158);
	--codeBoolean: rgb(197, 158, 255);
	--htmlThemeColor: rgb(28, 28, 37);
	--X2: rgb(31, 31, 41);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(255, 114, 138);
	--X9: rgb(255, 63, 96);
	--X10: rgba(255, 89, 117, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(35, 35, 47, 0.5);
	--X15: rgba(35, 35, 47, 0);
	--X16: rgba(35, 35, 47, 0.7);
	--X17: rgba(28, 28, 37, 0.8);
	--vh: 9.25px;
	--modalBgFilter: blur(4px);

html[theme="mi-cherry-dark"]
	mi-cherry-dark()

cherry()
	accent= rgb(219, 96, 114);
	--accent: accent;
	--accentTransparent: transparentify(accent, .2);
	--accentDarken: rgb(210, 54, 77);
	--accentLighten: rgb(228, 138, 151);
	--accentedBg: rgba(219, 96, 114, 0.15);
	--focus: rgba(219, 96, 114, 0.3);
	--bg: rgb(254, 248, 249);
	--acrylicBg: rgba(254, 248, 249, 0.5);
	--fg: rgb(152, 13, 26);
	--fgTransparentWeak: rgba(152, 13, 26, 0.75);
	--fgTransparent: rgba(152, 13, 26, 0.5);
	--fgHighlighted: rgb(138, 12, 24);
	--fgOnAccent: rgb(255, 255, 255);
	--divider: rgba(134, 51, 51, 0.1);
	--indicator: rgb(219, 96, 114);
	--panel: rgb(255, 255, 255);
	--panelHighlight: rgb(247, 247, 247);
	--panelHeaderBg: rgb(255, 255, 255);
	--panelHeaderFg: rgb(152, 13, 26);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(255, 255, 255, 0.5);
	--windowHeader: rgba(255, 255, 255, 0.85);
	--popup: rgb(255, 255, 255);
	--shadow: rgba(0, 0, 0, 0.1);
	--header: rgba(255, 255, 255, 0.7);
	--navBg: rgb(255, 255, 255);
	--navFg: rgb(152, 13, 26);
	--navHoverFg: rgb(72, 6, 12);
	--navActive: rgb(219, 96, 114);
	--navIndicator: rgb(219, 96, 114);
	--link: rgb(156, 187, 5);
	--hashtag: rgb(219, 96, 114);
	--mention: rgb(219, 96, 114);
	--mentionMe: rgb(219, 96, 114);
	--renote: rgb(219, 96, 114);
	--modalBg: rgba(0, 0, 0, 0.3);
	--scrollbarHandle: rgba(0, 0, 0, 0.2);
	--scrollbarHandleHover: rgba(0, 0, 0, 0.4);
	--dateLabelFg: rgb(152, 13, 26);
	--infoBg: rgb(229, 245, 255);
	--infoFg: rgb(114, 129, 138);
	--infoWarnBg: rgb(255, 240, 219);
	--infoWarnFg: rgb(143, 110, 49);
	--switchBg: rgba(0, 0, 0, 0.15);
	--cwBg: rgb(177, 185, 193);
	--cwFg: rgb(255, 255, 255);
	--cwHoverBg: rgb(187, 196, 206);
	--buttonBg: rgba(0, 0, 0, 0.05);
	--buttonHoverBg: rgba(0, 0, 0, 0.1);
	--buttonGradateA: rgb(219, 96, 114);
	--buttonGradateB: rgb(219, 119, 96);
	--swutchOffBg: rgba(0, 0, 0, 0.1);
	--swutchOffFg: rgb(255, 255, 255);
	--swutchOnBg: rgb(219, 96, 114);
	--swutchOnFg: rgb(255, 255, 255);
	--inputBorder: rgba(0, 0, 0, 0.1);
	--inputBorderHover: rgb(238, 221, 222);
	--listItemHoverBg: rgba(0, 0, 0, 0.03);
	--driveFolderBg: rgba(219, 96, 114, 0.3);
	--wallpaperOverlay: rgba(255, 255, 255, 0.5);
	--badge: rgb(49, 177, 206);
	--messageBg: rgb(254, 248, 249);
	--success: rgb(134, 179, 0);
	--error: rgb(236, 65, 55);
	--warn: rgb(236, 182, 55);
	--codeString: rgb(185, 135, 16);
	--codeNumber: rgb(15, 187, 187);
	--codeBoolean: rgb(98, 183, 12);
	--htmlThemeColor: rgb(254, 248, 249);
	--X2: rgb(250, 250, 250);
	--X3: rgba(0, 0, 0, 0.05);
	--X4: rgba(0, 0, 0, 0.1);
	--X5: rgba(0, 0, 0, 0.05);
	--X6: rgba(0, 0, 0, 0.25);
	--X7: rgba(0, 0, 0, 0.05);
	--X8: rgb(224, 117, 132);
	--X9: rgb(214, 75, 96);
	--X10: rgba(219, 96, 114, 0.4);
	--X11: rgba(0, 0, 0, 0.1);
	--X12: rgba(0, 0, 0, 0.1);
	--X13: rgba(0, 0, 0, 0.15);
	--X14: rgba(255, 255, 255, 0.5);
	--X15: rgba(255, 255, 255, 0);
	--X16: rgba(255, 255, 255, 0.7);
	--X17: rgba(254, 248, 249, 0.8);
	--vh: 2.72px;
	--modalBgFilter: blur(4px);

html[theme="cherry"]
	cherry()

mi-future-dark()
	accent= rgb(99, 226, 183);
	--accent: accent;
	--accentTransparent: transparentify(accent, accentOpacity);

	--accentDarken: rgb(56, 218, 163);
	--accentLighten: rgb(142, 234, 203);
	--accentedBg: rgba(99, 226, 183, 0.15);
	--focus: rgba(99, 226, 183, 0.3);
	--bg: rgb(16, 16, 20);
	--acrylicBg: rgba(16, 16, 20, 0.5);
	--fg: rgb(213, 213, 214);
	--fgTransparentWeak: rgba(213, 213, 214, 0.75);
	--fgTransparent: rgba(213, 213, 214, 0.5);
	--fgHighlighted: rgb(255, 255, 255);
	--fgOnAccent: rgb(0, 0, 0);
	--divider: rgba(255, 255, 255, 0.1);
	--indicator: rgb(99, 226, 183);
	--panel: rgb(24, 24, 28);
	--panelHighlight: rgb(31, 31, 36);
	--panelHeaderBg: rgb(24, 24, 28);
	--panelHeaderFg: rgb(213, 213, 214);
	--panelHeaderDivider: rgba(255, 255, 255, 0.1);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(24, 24, 28, 0.5);
	--windowHeader: rgba(24, 24, 28, 0.85);
	--popup: rgb(31, 31, 36);
	--shadow: rgba(0, 0, 0, 0.3);
	--header: rgba(24, 24, 28, 0.7);
	--navBg: rgb(24, 24, 28);
	--navFg: rgb(213, 213, 214);
	--navHoverFg: rgb(255, 255, 255);
	--navActive: rgb(99, 226, 183);
	--navIndicator: rgb(99, 226, 183);
	--link: rgb(232, 128, 128);
	--hashtag: rgb(112, 192, 232);
	--mention: rgb(242, 201, 125);
	--mentionMe: rgb(99, 226, 183);
	--renote: rgb(99, 226, 183);
	--modalBg: rgba(0, 0, 0, 0.5);
	--scrollbarHandle: rgba(255, 255, 255, 0.2);
	--scrollbarHandleHover: rgba(255, 255, 255, 0.4);
	--dateLabelFg: rgb(213, 213, 214);
	--infoBg: rgb(37, 49, 66);
	--infoFg: rgb(255, 255, 255);
	--infoWarnBg: rgb(66, 50, 28);
	--infoWarnFg: rgb(255, 189, 62);
	--switchBg: rgba(255, 255, 255, 0.15);
	--cwBg: rgb(104, 115, 144);
	--cwFg: rgb(57, 63, 79);
	--cwHoverBg: rgb(112, 123, 151);
	--buttonBg: rgba(255, 255, 255, 0.05);
	--buttonHoverBg: rgba(255, 255, 255, 0.1);
	--buttonGradateA: rgb(99, 226, 183);
	--buttonGradateB: rgb(71, 224, 254);
	--swutchOffBg: rgba(255, 255, 255, 0.1);
	--swutchOffFg: rgb(213, 213, 214);
	--swutchOnBg: rgba(99, 226, 183, 0.15);
	--swutchOnFg: rgb(99, 226, 183);
	--inputBorder: rgba(255, 255, 255, 0.1);
	--inputBorderHover: rgba(255, 255, 255, 0.2);
	--listItemHoverBg: rgba(255, 255, 255, 0.03);
	--driveFolderBg: rgba(99, 226, 183, 0.3);
	--wallpaperOverlay: rgba(0, 0, 0, 0.5);
	--badge: rgb(49, 177, 206);
	--messageBg: rgb(16, 16, 20);
	--success: rgb(134, 179, 0);
	--error: rgb(236, 65, 55);
	--warn: rgb(236, 182, 55);
	--codeString: rgb(255, 182, 117);
	--codeNumber: rgb(207, 255, 158);
	--codeBoolean: rgb(197, 158, 255);
	--htmlThemeColor: rgb(16, 16, 20);
	--X2: rgb(19, 19, 22);
	--X3: rgba(255, 255, 255, 0.05);
	--X4: rgba(255, 255, 255, 0.1);
	--X5: rgba(255, 255, 255, 0.05);
	--X6: rgba(255, 255, 255, 0.15);
	--X7: rgba(255, 255, 255, 0.05);
	--X8: rgb(120, 230, 193);
	--X9: rgb(77, 222, 173);
	--X10: rgba(99, 226, 183, 0.4);
	--X11: rgba(0, 0, 0, 0.3);
	--X12: rgba(255, 255, 255, 0.1);
	--X13: rgba(255, 255, 255, 0.15);
	--X14: rgba(24, 24, 28, 0.5);
	--X15: rgba(24, 24, 28, 0);
	--X16: rgba(24, 24, 28, 0.7);
	--X17: rgba(16, 16, 20, 0.8);
	--vh: 10.09px;
	--modalBgFilter: blur(4px);

html[theme="mi-future-dark"]
	mi-future-dark()

coffee()
	accent = rgb(159, 137, 137);
	--accent: accent;
	--accentTransparent: transparentify(accent, .2);
	--accentDarken: rgb(135, 110, 110);
	--accentLighten: rgb(182, 165, 165);
	--accentedBg: rgba(159, 137, 137, 0.15);
	--focus: rgba(159, 137, 137, 0.3);
	--bg: rgb(245, 243, 243);
	--acrylicBg: rgba(245, 243, 243, 0.5);
	--fg: rgb(127, 102, 102);
	--fgTransparentWeak: rgba(127, 102, 102, 0.75);
	--fgTransparent: rgba(127, 102, 102, 0.5);
	--fgHighlighted: rgb(119, 95, 95);
	--fgOnAccent: rgb(255, 255, 255);
	--divider: rgba(87, 68, 68, 0.1);
	--indicator: rgb(159, 137, 137);
	--panel: rgb(255, 255, 255);
	--panelHighlight: rgb(247, 247, 247);
	--panelHeaderBg: rgb(255, 255, 255);
	--panelHeaderFg: rgb(127, 102, 102);
	--panelHeaderDivider: rgba(0, 0, 0, 0);
	--panelBorder: solid 1px var(--divider);
	--acrylicPanel: rgba(255, 255, 255, 0.5);
	--windowHeader: rgba(255, 255, 255, 0.85);
	--popup: rgb(255, 255, 255);
	--shadow: rgba(0, 0, 0, 0.1);
	--header: rgba(255, 255, 255, 0.7);
	--navBg: rgb(255, 255, 255);
	--navFg: rgb(127, 102, 102);
	--navHoverFg: rgb(79, 63, 63);
	--navActive: rgb(159, 137, 137);
	--navIndicator: rgb(159, 137, 137);
	--link: rgb(137, 151, 159);
	--hashtag: rgb(159, 137, 137);
	--mention: rgb(159, 137, 137);
	--mentionMe: rgb(170, 149, 98);
	--renote: rgb(160, 172, 125);
	--modalBg: rgba(0, 0, 0, 0.3);
	--scrollbarHandle: rgba(0, 0, 0, 0.2);
	--scrollbarHandleHover: rgba(0, 0, 0, 0.4);
	--dateLabelFg: rgb(127, 102, 102);
	--infoBg: rgb(229, 245, 255);
	--infoFg: rgb(114, 129, 138);
	--infoWarnBg: rgb(255, 240, 219);
	--infoWarnFg: rgb(143, 110, 49);
	--switchBg: rgba(0, 0, 0, 0.15);
	--cwBg: rgb(177, 185, 193);
	--cwFg: rgb(255, 255, 255);
	--cwHoverBg: rgb(187, 196, 206);
	--buttonBg: rgba(0, 0, 0, 0.05);
	--buttonHoverBg: rgba(0, 0, 0, 0.1);
	--buttonGradateA: rgb(159, 137, 137);
	--buttonGradateB: rgb(159, 144, 137);
	--swutchOffBg: rgba(0, 0, 0, 0.1);
	--swutchOffFg: rgb(255, 255, 255);
	--swutchOnBg: rgb(159, 137, 137);
	--swutchOnFg: rgb(255, 255, 255);
	--inputBorder: rgba(0, 0, 0, 0.1);
	--inputBorderHover: rgba(0, 0, 0, 0.2);
	--listItemHoverBg: rgba(0, 0, 0, 0.03);
	--driveFolderBg: rgba(159, 137, 137, 0.3);
	--wallpaperOverlay: rgba(255, 255, 255, 0.5);
	--badge: rgb(49, 177, 206);
	--messageBg: rgb(245, 243, 243);
	--success: rgb(134, 179, 0);
	--error: rgb(236, 65, 55);
	--warn: rgb(236, 182, 55);
	--codeString: rgb(185, 135, 16);
	--codeNumber: rgb(15, 187, 187);
	--codeBoolean: rgb(98, 183, 12);
	--htmlThemeColor: rgb(245, 243, 243);
	--X2: rgb(250, 250, 250);
	--X3: rgba(0, 0, 0, 0.05);
	--X4: rgba(0, 0, 0, 0.1);
	--X5: rgba(0, 0, 0, 0.05);
	--X6: rgba(0, 0, 0, 0.25);
	--X7: rgba(0, 0, 0, 0.05);
	--X8: rgb(170, 151, 151);
	--X9: rgb(148, 123, 123);
	--X10: rgba(159, 137, 137, 0.4);
	--X11: rgba(0, 0, 0, 0.1);
	--X12: rgba(0, 0, 0, 0.1);
	--X13: rgba(0, 0, 0, 0.15);
	--X14: rgba(255, 255, 255, 0.5);
	--X15: rgba(255, 255, 255, 0);
	--X16: rgba(255, 255, 255, 0.7);
	--X17: rgba(245, 243, 243, 0.8);
	--vh: 12.71px;
	--modalBgFilter: blur(4px);

html[theme="coffee"]
	coffee()

:root
	rose-pine-dawn()

@media (prefers-color-scheme: dark)
	:root
		rose-pine()

